.Layout {
	display: grid;
    height: 100%;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 80% 10%;
}

.Layout>header, .Layout>footer{
    grid-column: span 2;
}

.Layout>*{
    border: solid black 1px;
}

.Layout>main{
    overflow: auto;
}